
<div class="pagecenter">
   <div class="pagination">
       {% if page_obj.has_previous %}
           <a href="?page={{page_obj.previous_page_number}}">&laquo;</a>
       {% endif %}

       {% if page_obj.number.has_previous %}
           <a href="#" class="">{{page_obj.number.previous_page_number}} </a>
       {% endif %}

       <a href="?page={{page_obj.number}}" class="active">{{page_obj.number}} </a>
       {% if page_obj.has_next %}
           
           <a href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}} </a>
           <a href="?page={{page_obj.next_page_number}}">&raquo;</a>

       {% endif %}
   </div>
</div>

</div>
  